body {
  font: 25px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.number {
  margin-bottom: 1px;
  margin-top: 1px;
}

.operator {
  margin-bottom: 0px;
  margin-top: 1px;
}

.equals {
  margin-left: 10px;
  margin-bottom: 3px;
  margin-top: -25px;
}

.input {
  margin-left: 10px;
  margin-right: 15px;
}

.answer {
  margin-top: -07px;
}